# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/
.ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# macOS
.DS_Store

# Log files
*.log

# Python Egg
*.egg
*.egg-info/
dist/
build/

# Environment variable files
.env

# Streamlit cache
.streamlit/

# System-specific
Thumbs.db
ehthumbs.db

# Compiled C files
*.so

# CSVs or dataset caches (optional)
*.csv

# Ignore saved webcam frames if any
*.jpg
*.png
